*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Estructura basica*/
body{
    background-color: #D0D3D4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.header-one{
    background-color: rgba(0,0,0,.2);
    color: white;
    text-align: center;
}

/* MENU */
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #29487d;
    height: 45px;
    background-image: url(../img-portafolio/AV_fondo-header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mainMenu {
    display: flex;
    list-style: none;
}

.mainMenu li a {
    flex: 1;
    display:flex;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
}

.mainMenu li a:hover {
   background: rgba(0,0,0,.1);
}

nav .openMenu {
    color: black;
    font-size: 30px;
    margin: 8px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
    color: black;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

/*Imagen fondo uno*/
.img-font-one{
    background-image: url(../img-portafolio/AV_Font.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
}

.img-font-one div{
    min-height: inherit;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img-font-one div a{
   text-decoration: none;
   background-color: #138D75;
   padding: 10px 25px;
   border-radius: 10px;
   margin-top: 20px;
    font-size: 15px;
    color: white;
}

.img-font-one div a:hover{
    background-color: #17A589;
}

/*Div container uno*/
.div-container-one{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.parrafo{
    width: 100%;
    margin: 30px 15px;
    text-align: center;
    font-size: 30px;
}

.item-one{
    background-color: #F0F3F4;
    width: 40%;
    margin: 35px 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 10px rgba(0,0,0,.2);
}

.parrafo-item{
    padding-bottom: 25px;
}

.item-one a{
   text-decoration: none;
   background-color: #138D75;
   padding: 10px 25px;
   border-radius: 10px;
   font-size: 15px;
   color: white;
}

.precio{
    margin-bottom: 20px;
}

.item-one a:hover{
    background-color: #17A589;
}

.item-one img{
    width: 200px;
    height: 200px;
}

/*Imagen fondo dos*/
.img-font-two{
    background-image: url(../img-portafolio/AV_font2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: black;
}

.img-font-two div{
    min-height: inherit;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    margin-right: 40px;
}

.img-font-two p{
    width: 32%;
}

.img-font-two div a{
   text-decoration: none;
   background-color: #138D75;
   padding: 10px 25px;
   border-radius: 10px;
   margin-top: 20px;
    font-size: 15px;
    color: white;
}

.img-font-two div a:hover{
    background-color: #17A589;
}

/*Div container dos*/
.div-container-two{
    display: flex;
    margin: 25px;
}

.item-two{
    width: 90%;
    margin-right: 30px;
}

.item-two p{
    margin: 25px 0;
}

.item-two a{
    text-decoration: none;
   background-color: #138D75;
   padding: 10px 25px;
   border-radius: 10px;
    font-size: 15px;
    color: white;
}

.item-two a:hover{
    background-color: #17A589;
}

.item-two-img img{
    width: 200px;
    height: 200px;
}

.foot{
    background-color: black;
}

/* @medias */
@media (max-width: 950px){
    .img-font-two p{
        width: 50%;
    }
    
    .div-container-two{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .item-two-img{
        margin-top: 30px;
    }
    
    .item-two-img img{
        margin-right: 30px;
    }
}

@media (max-width: 730px){
    .item-one{
        width: 100%;
    }
    
    .img-font-two p{
        width: 80%;
    }
}

@media(max-width: 700px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../img-portafolio/AV_fondo-header.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: top 1s ease;
        display: none;
    }
    
    nav .mainMenu li a{
        margin: 15px 0;
        width: 90vw;
        text-align: center;
    }
    
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    
    nav .openMenu {
        display: block;
    }
}

@media (max-width: 550px){
     .item-two-img{
            width: 80%;
            margin: 25px auto auto auto;
     }
    
      .item-two-img img{
        margin-top: 20px;
    }
}

